<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Suivi annuel de l'augmentation du salaire de l'employé pendant l'année 2020</div>
    <div class="panel-body">
      <div>
        <form [formGroup]="incsalaryForm" (ngSubmit)="addIncsalary()">
          <div  class="form-group">
           <label class="control-label">Nom</label>
            <input type="text" id="nom" class="form-control" formControlName="nom" [(ngModel)]="employee.nom" />
            <datalist id="nomm">
              <option *ngFor="let e of listEmploye">{{ e.nom }}
              </option>
            </datalist>

          </div>

          <div  class="form-group">
            <label class="control-label">Prénom</label>
            <input  type="text" id="prenom" class="form-control" formControlName="prenom" [(ngModel)]="employee.prenom" />
          </div>
          <div  class="form-group">
            <label class="control-label">Nombre de certification</label>
            <input type="text" id="nbrcertif" class="form-control" formControlName="nbrcertif" [(ngModel)]="incsalary.nbrcertif" />
          </div>
          <div  class="form-group">
            <label class="control-label">Nombre de mission a l'étrangé</label>
            <input type="text" id="nbrmission" class="form-control" formControlName="nbrmission" [(ngModel)]="incsalary.nbrmission" />
          </div>

          <div  class="form-group">
          <label class="control-label">Nombre de jours des weekends travaillé  </label>
          <input ctype="text" id="nbdhtrweek" class="form-control" formControlName="nbdhtrweek" [(ngModel)]="incsalary.nbdhtrweek" />
          </div>
          <div  class="form-group">
            <label class="control-label">Nombre de jours fériés travaillé </label>
            <input ctype="text" id="nbrdhtravailjourferier" class="form-control" formControlName="nbrdhtravailjourferier" [(ngModel)]="incsalary.nbrdhtravailjourferier" />
          </div>
          <button type ="submit" class="btn btn-primary" [disabled]="incsalaryForm.invalid" >Montant qui sera augmenté </button>
        </form>
        <p class="text-danger">{{ errorMessage }}</p>
      </div>
    </div>
  </div>
</div>


