.ctn{
  text-align: center;
  margin-bottom: 7rem;
}
.imag{
  width:76rem;
}
h1 {
  text-align: center;
  padding: 0 20rem;
  margin-bottom: 7rem;
}

p {
  text-align: center;
  font-size: 19px;
  width: 76rem;
  margin: auto;
  margin-bottom: 3rem;
}
h2{
  text-align: center;
}
