<h1>Liste des Employés</h1>
<div class="container" *ngIf="listEmploye">
  <div class="panel panel-primary">
    <div class="panel-body">
      <table class="table table-hover" *ngIf="listEmploye">
        <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Département</th>
          <th scope="col">Téléphone</th>
          <th scope="col">Email</th>
          <th>Salaire en Dh</th>
          <th>CIN</th>
          <th>Date d'Embauche</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <tr *ngFor="let e of listEmploye">
          <td>{{e.nom}}</td>
          <td>{{e.prenom}}</td>
          <td>{{e.departement}}</td>
          <td>{{e.telephone}}</td>
          <td>{{e.email}}</td>
          <td>{{e.salaire}}</td>
          <td>{{e.cin}}</td>
          <td>{{e.datedebut}}</td>
          <td>
            <a class="clickable glyphicon glyphicon-edit" (click)="onEditEmploye(e.id)" >Editer</a>
          </td>
          <td>
            <a class="clickable glyphicon glyphicon-remove" (click)="onDeleteEmploye(e)" >Supprimer</a>
          </td>
          <td>
            <a class="clickable glyphicon glyphicon-plus" (click)="incSalary(e.id)" >Prime</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
